/.ipynb_checkpoints
/All_06-01-2021_08-21-2021_night_averages_CC23.txt
/Broemmelsiek Park
/Cape Girardeau, MO Rhodes Hall
/Combined Data Tables - goodbackup424
/Combined Data Tables_backup_4-14
/Daily_Weather_Data
/Daily_Weather_Data-backup417
/dataframe_table.png
/dataframe_table_high_quality.png
/data_splitter2.py
/dyoung home
/dz_combine_and_classify22.ipynb
/dz_combine_and_classify33.ipynb
/dz_combine_data-backup4-6.ipynb
/dz_combine_data.ipynb
/dz_combine_dataOLD.ipynb
/dz_combine_data_4-12_backup.ipynb
/dz_make_plots_nightplotdatebetter.ipynb
/dz_temp.ipynb
/echo bluff
/functions_backup.py
/Gateway Arch National Park
/Grand Gulf State Park
/Grand Gulf State Park -old
/Grand Gulf State Park-backup415
/Grand Gulf-backup415
/histmaker.py
/histograms
/histograms_backup06-10-2024
/Jefferson College
/Kville_data.py
/LPubuntuWorkspace.code-workspace
/Magruder Hall
/McDonnell Planetarium SLSC
/McDonnell SLSC Backup 2055data
/Mineral Area College
/moon2.py
/Moon_Data
/Ozark City Hall
/Ozark Community Center
/Perryville
/Perryville Park
/Perryville Welcome Center
/Physics building Rolla
/Plots
/Plots - backup 416
/Powell Observatory Louisburg, KS
/Raw Data
/README-images
/README.md
/Southeast Missouri State University
/Summary Tables
/sun.py
/Sun_Data
/Thousand Hills Raw Data
/Thousand Hills State Park
/Thousand_Hills
/Timberlane Obervatory
/TSO
/Unconfirmed 252837.crdownload
/Unconfirmed 915643.crdownload
/vg_histmaker_combine.py
/vg_plotter.py
/vg_plotter_emailed.py
/vg_plotter_school.py
/vg_plotter_SQM.py
/vg_SQM_Animate.py
/vg_tablemaker2.py
/vg_tablemaker2_school.py
/vg_weather_splitter2.py
/Weather_Data
/weather_splitter2.py
/__pycache__